ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(71, 193, 197);
}

h2 {
    color: rgb(71, 193, 197)
}

h3 {
    color: rgb(71, 193, 197)
}

h4 {
    color: rgb(71, 193, 197)
}

h5 {
    color: rgb(71, 193, 197)
}
